#animation {
  display: none;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.bars {
  position: absolute;
  float: left;
  margin: 0;
  border-radius: 0;
  width: 4%;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.05);
  bottom: 0;
}

.bar1 {}
.bar2 { left: 5%; }
.bar3 { left: 10%; }
.bar4 { left: 15% }
.bar5 { left: 20% }
.bar6 { left: 25% }
.bar7 { left: 30%; }
.bar8 { left: 35%; }
.bar9 { left: 40%; }
.bar10 { left: 45%; }

.bar11 { left: 50%; }
.bar12 { left: 55%; }
.bar13 { left: 60% }
.bar14 { left: 65% }
.bar15 { left: 70% }
.bar16 { left: 75%; }
.bar17 { left: 80%; }
.bar18 { left: 85%; }
.bar19 { left: 90%; }
.bar20 { left: 95%; }

.stream-txt {
  margin: 0 auto;
  width: 155px;
  text-align: center;
}
.stream-txt p {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #d50000;
}